parameters:
    ignoreErrors:
        -
            message: '#Method App\\Orm\\ArticleMapping\:\:configureMapping\(\) has parameter \$metadata with generic class Doctrine\\ORM\\Mapping\\ClassMetadata but does not specify its types\: T#'
            path: %currentWorkingDirectory%/src/Orm/ArticleMapping.php
        -
            message: '#Method App\\Orm\\CategoryMapping\:\:configureMapping\(\) has parameter \$metadata with generic class Doctrine\\ORM\\Mapping\\ClassMetadata but does not specify its types\: T#'
            path: %currentWorkingDirectory%/src/Orm/CategoryMapping.php
        -
            message: '#PHPDoc tag @var for variable \$entityRepository contains generic class Doctrine\\ORM\\EntityRepository but does not specify its types\: T#'
            path: %currentWorkingDirectory%/src/Repository/ArticleRepository.php
        -
            message: '#Property App\\Model\\Category\:\:\$article is never read, only written\.#'
            path: %currentWorkingDirectory%/src/Model/Category.php
